<div class="recetario">
  <div class="container">
      <div class="input-group mb-3">
          <input type="text" [(ngModel)]="busqueda" class="form-control" placeholder="Buscar receta" aria-label="Buscar receta" aria-describedby="button-addon2" (input)="alEscribir()">
        </div>
  </div>

  <div class="accordion" id="accordionExample">
      <div class="accordion-item" [attr.id]="'accordion_' + i" *ngFor="let receta of recetas; let i = index">
        <h2 class="accordion-header" id="{{receta['nombre']}}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse_' + i" aria-expanded="true" [attr.aria-controls]="'collapse_' + i">
            {{receta["nombre"]}}
          </button>
        </h2>
        <div [attr.id]="'collapse_' + i" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Ingredientes:</strong>
            <ul>
              <li *ngFor="let ingrediente of receta['ingredientes']">
                {{ingrediente["nombre"]}} - {{ingrediente["cantidad"]}} 
              </li>
            </ul>
            {{receta["preparacion"]}}
          </div>
        </div>
      </div>
  </div>
</div>
